// Base colours of the pages and text
$text-primary 						: rgb(139,136,154);

// Maximum width to maintain readable line lengths
$max-width  						: 1440px;

// Neat Responsive Grid Settings
$column 							: golden-ratio(1em, 3);
$gutter 							: golden-ratio(1em, 1);
$grid-columns 						: 12;
$border-box-sizing 					: true;

// Visual Grid
$visual-grid 						: false;
$visual-grid-color   				: #FF0000;
$visual-grid-index 					: front;
$visual-grid-opacity 				: 0.1;

// base typeface
$basefontfamily--light 				: proximanova-light;
$basefontfamily--regular 			: proximanova-regular;
$basefontfamily--semibold 			: proximanova-semibold;
$basefontfamily--bold 				: proximanova-bold;
$icons 								: entypo;