// Entypo Icon Charset

$entypo-icon-search: 🔍;																	//	\1f50d
$entypo-icon-mail: \2709;																	//	\2709
$entypo-icon-user: 👤;																		//	\1f464
$entypo-icon-info-circled: \e705;															//	\e705

// Grab the list of icons
@import "entypo-icon-list";




