.main-search-area {
	@extend %col-12;
	padding-top: 40px;
}

.main-search-field {
	@extend %col-8;

	input[type="search"] {
		@extend %rounded-search;
		width: 70%;
		height: 44px;
		padding-left: 10px;
	}

	ul {
		@extend %ilb;
		margin-top: 20px;

		li {
			@extend %ilb;
			margin-right: 10px;

			// &:first-of-type {
			// 	margin-right: 20px;
			// }
		}
	}

	button {
		@extend %btn;
		@extend %btn-green;
		height: 35px;
		width: 80px;
		margin-left: 30px;
	}

	label {
		color: $text-primary;
		font-size: em(14);
		margin-right: 10px;
	}
}

.search-aside {
	padding-right: 40px;

	h4 {
		font-size: em(20);
		font-family: $basefontfamily--bold;
		color: rgb(61,59,73);
		padding-bottom: 10px;
		padding-top: 15px;
		margin-right: 5px;
		@extend %ilb;
	}

	p {
		font-size: em(15);
	}

	i {
		font-size: em(20);
		color: rgb(148,180,117);
	}
}