.main-nav {
	@extend %ilb;
	position: absolute;
	top: 45%;
	right: 0%;
	font-size: em(14);
	font-family: $altfontfamily;
	font-weight: 700;

	ul li {
		@extend %ilb;
		margin-left: 30px;
		text-transform: uppercase;
		padding-top: 20px;
	}
}

.user-login {
	@extend %ilb;
	float: right;
	margin-top: 20px;
	font-size: em(12);

	li {
		@extend %ilb;
		margin-left: 20px;
		text-decoration: underline;

		&:last-of-type {
			text-decoration: none;
			
			a {
				color: #9fd46d;
			}
		}
	}

	i {
		font-size: em(22);
		color: white;
		line-height: 0.5em;

		&.icon-mail {
			font-size: em(24);
			position: relative;
			top: 3px;
		}

		&.icon-user {
			margin-left: 0;
		}
	}
}